name: BuildQtBinaries

on:
  push:
    branches:
    # Change this to the branch name which you are developing on to trigger the workflow
    - generateqt

jobs:
  GenerateLinuxStaticBinaries:
    runs-on: ubuntu-24.04
    
    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get update -q
        sudo apt-get install -q build-essential libgl1-mesa-dev libvulkan-dev ninja-build
    - name: Compile static Qt version
      run: |
        # Clone Qt6 repo
        cd ..
        git clone https://code.qt.io/qt/qt5.git -b v6.10.2
        cd qt5
        ./init-repository -f --module-subset=qtbase,qtcharts,qtsvg,qt3d,qtshadertools
        # Create shadow build folder
        cd ..
        mkdir qt6_shadow
        cd qt6_shadow
        # Configure Qt6
        ../qt5/configure -static -release -prefix "../Qt6_binaries" -skip webengine -nomake tools -nomake tests -nomake examples -no-dbus -no-ssl -no-pch -opensource -confirm-license -qt-libpng -qt-pcre -- -DCMAKE_BUILD_TYPE=Release
        cmake --build . --parallel 4
        cmake --install .
    - name: Package binaries
      run: |
        tar cfvz qt6_6102_static_binaries_linux.tar.gz ../Qt6_binaries/.
    - uses: actions/upload-artifact@v4
      with:
        name: qt6_6102_static_binaries_linux.tar.gz
        path: qt6_6102_static_binaries_linux.tar.gz

  GenerateMacOSStaticBinaries:
    runs-on: macos-26
    
    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        brew install ninja
    - name: Compile static Qt version
      run: |
        # Clone Qt6 repo
        cd ..
        git clone https://code.qt.io/qt/qt5.git -b v6.10.2
        cd qt5
        ./init-repository -f --module-subset=qtbase,qtcharts,qtsvg,qt3d,qtshadertools
        # Create shadow build folder
        cd ..
        mkdir qt6_shadow
        cd qt6_shadow
        # Configure Qt6
        ../qt5/configure -static -release -prefix "../Qt6_binaries" -skip webengine -nomake tools -nomake tests -nomake examples -no-dbus -no-ssl -no-pch -opensource -confirm-license -- -DCMAKE_BUILD_TYPE=Release
        cmake --build . --parallel 4
        cmake --install .
    - name: Package binaries
      run: |
        tar cfvz qt6_6102_static_binaries_macos.tar.gz ../Qt6_binaries/.
    - uses: actions/upload-artifact@v4
      with:
        name: qt6_6102_static_binaries_macos.tar.gz
        path: qt6_6102_static_binaries_macos.tar.gz

  GenerateWinStaticBinaries:
    runs-on: windows-2025

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install Python 3.10 version
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: 'x64'
    - name: Install ninja
      run: |
        choco install ninja
    - name: Compile static Qt version
      run: |
        # Clone Qt6 repo
        cd ..
        git clone https://code.qt.io/qt/qt5.git -b v6.10.2
        cd qt5
        perl init-repository -f --module-subset=qtbase,qtcharts,qtsvg,qt3d,qtshadertools
        # Create shadow build folder
        cd ..
        mkdir qt6_shadow
        cd qt6_shadow
        # Setup the compiler 
        cmd.exe /c "call `"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat`" && set > %temp%\vcvars.txt"
        Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
        # Configure Qt6
        ..\qt5\configure.bat -release -static -no-pch -optimize-size -opengl desktop -platform win32-msvc -prefix "..\Qt6_binaries" -skip webengine -nomake tools -nomake tests -nomake examples -opensource -confirm-license
        cmake --build . --parallel 4
        cmake --install .
    - name: Package binaries
      run: |
        7z a qt6_6102_static_binaries_win.zip ..\Qt6_binaries
    - uses: actions/upload-artifact@v4
      with:
        name: qt6_6102_static_binaries_win.zip
        path: qt6_6102_static_binaries_win.zip

  GenerateWasmBinaries:
    runs-on: ubuntu-24.04

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Setup emscripten compiler 
      run: |
        cd ..
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        git pull
        ./emsdk install 3.1.50
        ./emsdk activate 3.1.50
    - name: Compile wasm Qt version
      run: |
        cd ..
        source ./emsdk/emsdk_env.sh
        # Clone Qt6 repo
        git clone https://code.qt.io/qt/qt5.git -b v6.10.2
        cd qt5
        ./init-repository -f --module-subset=qtbase,qtcharts,qtsvg,qtshadertools
        # Create shadow build folder
        cd ..
        mkdir qt6_shadow
        cd qt6_shadow
        # Configure Qt6 for wasm
        ../qt5/configure -qt-host-path /usr -xplatform wasm-emscripten -feature-thread -skip webengine -nomake tests -nomake examples -no-dbus -no-ssl -no-pch -opensource -confirm-license -prefix "$PWD/../Qt6_binaries" -- -DCMAKE_BUILD_TYPE=Release
        cmake --build . --parallel 4
        cmake --install .
    - name: Package binaries
      run: |
        tar cfvz qt6_6102_static_binaries_wasm.tar.gz ../Qt6_binaries/.
    - uses: actions/upload-artifact@v4
      with:
        name: qt6_6102_static_binaries_wasm.tar.gz
        path: qt6_6102_static_binaries_wasm.tar.gz
