name: Coverity
on:
  schedule:
  - cron: '0 0 * * 1,3,5'

jobs:
  ScanLinux:
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Install Python 3.10 version
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          architecture: 'x64'
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: 6.10.2
          modules: qtcharts qtshadertools
      - name: Coverity scripts
        run: |
          ./tools/coverity_scan.sh "$COVTOKEN"
        env:
          COVTOKEN: ${{ secrets.COVERITY_TOKEN }}
