name: Tests

on:
  push:
    branches:
    - v2.0-dev

jobs:
  MinQtDynamic:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        qt: [6.10.0]
        os: [ubuntu-24.04, macos-26, windows-2025]

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install Python 3.10 version
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: ${{ matrix.os == 'macos-26' && 'arm64' || 'x64' }}
    - name: Install Qt (Linux|MacOS)
      if: (matrix.os == 'ubuntu-24.04') || (matrix.os == 'macos-26')
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt }}
        modules: qtcharts qt3d qtshadertools
    - name: Install Qt (Windows)
      if: matrix.os == 'windows-2025'
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt }}
        arch: win64_msvc2022_64
        modules: qtcharts qt3d qtshadertools
    - name: Configure and compile MNE-CPP (Linux|MacOS)
      if: (matrix.os == 'ubuntu-24.04') || (matrix.os == 'macos-26')
      run: |
        cmake -B build -S src -DCMAKE_BUILD_TYPE=Release
        cmake --build build
    - name: Configure and compile MNE-CPP (Windows)
      if: matrix.os == 'windows-2025'
      run: |
        # Setup VS compiler
        cmd.exe /c "call `"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat`" && set > %temp%\vcvars.txt"
        Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
        cmake -B build -S src -DCMAKE_BUILD_TYPE=Release
        cmake --build build
    - name: Deploy binaries
      run: |
        ./tools/deploy.bat dynamic pack

  MaxQtDynamic:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        qt: [6.10.2]
        os: [ubuntu-24.04, macos-26, windows-2025]

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install Python 3.10 version
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: ${{ matrix.os == 'macos-26' && 'arm64' || 'x64' }}
    - name: Install Qt (Linux|MacOS)
      if: (matrix.os == 'ubuntu-24.04') || (matrix.os == 'macos-26')
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt }}
        modules: qtcharts qt3d qtshadertools
    - name: Install Qt (Windows)
      if: matrix.os == 'windows-2025'
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt }}
        arch: win64_msvc2022_64
        modules: qtcharts qt3d qtshadertools
    - name: Configure and compile MNE-CPP (Linux|MacOS)
      if: (matrix.os == 'ubuntu-24.04') || (matrix.os == 'macos-26')
      run: |
        cmake -B build -S src -DCMAKE_BUILD_TYPE=Release
        cmake --build build
    - name: Configure and compile MNE-CPP (Windows)
      if: matrix.os == 'windows-2025'
      run: |
        # Setup VS compiler
        cmd.exe /c "call `"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat`" && set > %temp%\vcvars.txt"
        Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
        cmake -B build -S src -DCMAKE_BUILD_TYPE=Release
        cmake --build build
    - name: Deploy binaries
      run: |
        ./tools/deploy.bat dynamic pack

  Tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ubuntu-24.04, macos-26, windows-2025]

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Clone mne-cpp test data
      run: git clone https://github.com/mne-tools/mne-cpp-test-data.git resources/data/mne-cpp-test-data
    - name: Install Python 3.10 version
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: ${{ matrix.os == 'macos-26' && 'arm64' || 'x64' }}
    - name: Install Qt (Linux|MacOS)
      if: (matrix.os == 'ubuntu-24.04') || (matrix.os == 'macos-26')
      uses: jurplel/install-qt-action@v3
      with:
        version: 6.10.2
        modules: qtcharts qt3d qtshadertools
    - name: Install Qt (Windows)
      if: matrix.os == 'windows-2025'
      uses: jurplel/install-qt-action@v3
      with:
        version: 6.10.2
        arch: win64_msvc2022_64
        modules: qtcharts qt3d qtshadertools
    - name: Configure and compile MNE-CPP (Linux)
      if: matrix.os == 'ubuntu-24.04'
      run: |
        cmake -B build -S src -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON -DWITH_CODE_COV=ON
        cmake --build build
    - name: Configure and compile MNE-CPP (MacOS)
      if: matrix.os == 'macos-26'
      run: |
        cmake -B build -S src -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON
        cmake --build build
    - name: Configure and compile MNE-CPP (Windows)
      if: matrix.os == 'windows-2025'
      run: |
        # Setup VS compiler
        cmd.exe /c "call `"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat`" && set > %temp%\vcvars.txt"
        Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
        cmake -B build -S src -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=ON
        cmake --build build
    - name: Run tests (Linux)
      if: matrix.os == 'ubuntu-24.04'
      env:
        QTEST_FUNCTION_TIMEOUT: 900000
      run: |
        ./tools/test_all.bat verbose withCoverage
    - name: Upload coverage to Codecov
      if: matrix.os == 'ubuntu-24.04'
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Run tests (MacOS)
      if: matrix.os == 'macos-26'
      env:
        QTEST_FUNCTION_TIMEOUT: 900000
      run: |
        ./tools/test_all.bat Release verbose
    - name: Run tests (Windows)
      if: matrix.os == 'windows-2025'
      env:
        QTEST_FUNCTION_TIMEOUT: 900000
      run: |
        ./tools/test_all.bat Release verbose

  Doxygen:
    runs-on: ubuntu-24.04

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install Qt Dev Tools, Doxygen and Graphviz
      run: |
        sudo apt-get update -q
        sudo apt-get install -q qttools5-dev-tools doxygen graphviz
    - name: Run Doxygen and package result
      run: |
        cd doc/doxygen
        doxygen mne-cpp_doxyfile
