name: WasmTest

on:
  push:
    branches:
    - wasm

jobs:
  WasmTest:
    runs-on: ubuntu-24.04

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -qq build-essential libgl1-mesa-dev ninja-build
    - name: Setup Emscripten
      run: |
        cd ..
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        ./emsdk install 4.0.7
        ./emsdk activate 4.0.7
    - name: Download pre-built WASM Qt binaries
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release download qt_binaries -p 'qt6_6102_static_binaries_wasm.tar.gz' -D /tmp
        mkdir -p ${{ runner.tool_cache }}/Qt/6.10.2/wasm_multithread
        tar xf /tmp/qt6_6102_static_binaries_wasm.tar.gz -C ${{ runner.tool_cache }}/Qt/6.10.2/wasm_multithread
        echo "Qt6_DIR=${{ runner.tool_cache }}/Qt/6.10.2" >> $GITHUB_ENV
    - name: Build WASM
      run: |
        source ../emsdk/emsdk_env.sh
        ./tools/wasm.sh --emsdk 4.0.7
    - name: Setup Github credentials
      uses: fusion-engineering/setup-git-credentials@v2
      with:
        credentials: ${{secrets.GIT_CREDENTIALS_WASM_TEST}}
    - name: Update gh-pages branch with new wasm version
      run: |
        # Setup git credentials
        git config --global user.email christoph.dinh@mne-cpp.org
        git config --global user.name chdinh
        # Save the wasm files first
        cp -RT out/wasm/apps ../bin
        # Replace logo
        cp resources/design/logos/qtlogo.svg ../bin/qtlogo.svg
        # Checkout the gh-pages branch
        git fetch origin gh-pages
        git checkout --track origin/gh-pages
        # Clean and remove all files first
        git clean -f -d
        git rm * -r
        git commit --amend -a -m 'Update wasm' --allow-empty
        # Add the saved wasm files
        cp -RT ../bin .
        git add --all
        git commit --amend -a -m 'Update wasm'
        git push origin gh-pages -f